@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@inject SignInManager<User> SignInManager;
@inject UserManager<User> UserManager;

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment names="Development">
        <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/node_modules/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
</head>
<body>
    <div>
        @if (SignInManager.IsSignedIn(User))
        {
            <div>
                @UserManager.GetUserName(User);
            </div>
            <form method="post" asp-controller="Account" asp-action="Logout">
                <input type="submit" value="Logout" />
            </form>
        }
        else
        {
            <a asp-controller="Account" asp-action="Login">Login</a>
            <a asp-controller="Account" asp-action="Register">Register</a>
        }
    </div>
    <div>
        @RenderBody()
    </div>
    <div>
        @RenderSection("footer", false)
    </div>
    <environment names="Development">
        <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="~/node_modules/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/node_modules/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment names="Staging, Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/node_modules/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        @*<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>*@
    </environment>
</body>
</html>
