@using TtitterMvc.ViewModels.Tteets

@model IEnumerable<TteetViewModel>

@foreach (TteetViewModel tteet in @Model)
{
    <div class="tteet row well-sm">
        @Html.Partial("_Tteet", tteet)
    </div>
}